lasso-page name="orchestrion" package-path="./browser.json"
<!doctype html>
html
  head
    meta charset="utf-8"
    title -- Orchestrion Tracker
    lasso-head
  body
    div#main
    lasso-body
    browser-refresh
